@{
    ViewData["Title"] = "Livros";
}
<h1>@ViewData["Title"]</h1>

<p>Acervo de livros.</p>

@model IEnumerable<BookModel>

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Acervo de livros</h1>
        <a class="btn btn-success mx-2" asp-controller="Book" asp-action="InsertBook">Cadastrar novo livro</a>
    </div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Ano de publicação</th>
            <th scope="col">Editora</th>
            <th scope="col">Leitura finalizada?</th>
            <th scope="col">Livro digital?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {
            @foreach(var book in Model)
            {
                <tr>
                    <th scope="row">@book.Id</th>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Year</td>
                    <td>@book.PublishingCompany</td>
                    <td>@book.IsReaded</td>
                    <td>@book.IsDigital</td>
                    <td>
                        <a asp-controller="Book" asp-action="Update" asp-route-id="@book.Id" class="btn btn-warning mx-2">Editar</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger mx-2">Excluir</a>
                    </td>
        </tr>
            }
        }

    </tbody>
</table>